.about-section {
  background: #0b0b0b; /* soft black */
  padding: 90px 20px;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.about-text h2 {
  font-size: 2.6rem;
  color: rgb(153, 91, 30);
  margin-bottom: 14px;
}

.about-text .highlight {
  color: #313c7a;
  font-weight: 600;
  margin-bottom: 16px;
}

.about-text p {
  color: #e6b85c;
  line-height: 1.9;
  font-size: 15.5px;
  margin-bottom: 14px;
}

/* IMAGE CARD */
.about-image img {
  width: 100%;
  max-width: 380px;
  border-radius: 20px;
  background: #000000;
  padding: 18px;

  box-shadow: 0 12px 35px rgba(0,0,0,0.6);
}

/* MOBILE */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image img {
    margin: auto;
  }
}
