.footer {
  background: radial-gradient(circle at top, #2b0000, #000);
  padding: 70px 30px 30px;
  color: #ccc;
}

.footer-box {
  background: #000;
  border-radius: 16px;
  padding: 50px;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 40px;

  box-shadow: 0 0 40px rgba(255, 165, 0, 0.15);
}

/* Columns */
.footer-col h4 {
  color: orange;
  margin-bottom: 18px;
}

.footer-logo {
  color: orange;
  font-size: 26px;
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Links */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-col ul li:hover {
  color: orange;
}

/* Subscribe */
.subscribe-box {
  display: flex;
  background: #111;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #333;
}

.subscribe-box input {
  flex: 1;
  padding: 10px 15px;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}

.subscribe-box button {
  background: orange;
  border: none;
  padding: 10px 22px;
  cursor: pointer;
  font-weight: bold;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}

.social-icons span:hover {
  background: orange;
  color: black;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 35px;
  font-size: 13px;
  color: #aaa;
}

.footer-bottom span {
  color: #ffb300;
}

/* MOBILE */
@media (max-width: 768px) {
  .footer-box {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .subscribe-box {
    flex-direction: column;
  }

  .subscribe-box button {
    width: 100%;
  }

  .social-icons {
    justify-content: center;
  }
}
